body {
    //background-color: pink !important;
}

@font-face {
    font-family: 'Font Family';
    font-weight: 400;
    font-style: normal;
    src: url('webfont.eot'); /* IE9 Compat Modes */
    src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('webfont.woff22') format('woff22'), /* Super Modern Browsers */
         url('webfont.woff2') format('woff2'), /* Pretty Modern Browsers */
         url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

  @font-face {
    font-family: 'family';
    font-weight: 300;
    font-style: normal;
    src: url('../assets/fonts/family/test-family-light.woff2') format('woff2'); /* Pretty Modern Browsers */
  }
  
  @font-face {
    font-family: 'family';
    font-weight: 400;
    font-style: normal;
    src: url('../assets/fonts/family/test-family-regular.woff2') format('woff2'); /* Pretty Modern Browsers */
  }
  
  @font-face {
    font-family: 'family';
    font-weight: 500;
    font-style: normal;
    src: url('../assets/fonts/family/test-family-medium.woff2') format('woff2'); /* Pretty Modern Browsers */
  }
  
  @font-face {
    font-family: 'family';
    font-weight: 600;
    font-style: normal;
    src: url('../assets/fonts/family/test-family-semibold.woff2') format('woff2'); /* Pretty Modern Browsers */
  }
  
  @font-face {
    font-family: 'family';
    font-weight: 700;
    font-style: normal;
    src: url('../assets/fonts/family/test-family-bold.woff2') format('woff2'); /* Pretty Modern Browsers */
  }
  
  @font-face {
    font-family: 'family';
    font-weight: 800;
    font-style: normal;
    src: url('../assets/fonts/family/test-family-black.woff2') format('woff2'); /* Pretty Modern Browsers */
  }
  
  @font-face {
    font-family: 'family';
    font-weight: 300;
    font-style: oblique;
    src: url('../assets/fonts/family/test-family-light-italic.woff2') format('woff2'); /* Pretty Modern Browsers */
  }
  
  @font-face {
    font-family: 'family';
    font-weight: 400;
    font-style: oblique;
    src: url('../assets/fonts/family/test-family-regular-italic.woff2') format('woff2'); /* Pretty Modern Browsers */
  }
  
  @font-face {
    font-family: 'family';
    font-weight: 500;
    font-style: oblique;
    src: url('../assets/fonts/family/test-family-medium-italic.woff2') format('woff2'); /* Pretty Modern Browsers */
  }
  
  @font-face {
    font-family: 'family';
    font-weight: 600;
    font-style: oblique;
    src: url('../assets/fonts/family/test-family-semibold-italic.woff2') format('woff2'); /* Pretty Modern Browsers */
  }
  
  @font-face {
    font-family: 'family';
    font-weight: 700;
    font-style: oblique;
    src: url('../assets/fonts/family/test-family-bold-italic.woff2') format('woff2'); /* Pretty Modern Browsers */
  }
  
  @font-face {
    font-family: 'family';
    font-weight: 800;
    font-style: oblique;
    src: url('../assets/fonts/family/test-family-black-italic.woff2') format('woff2'); /* Pretty Modern Browsers */
  }