@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$base-unit : 24px;
$base-font-size : 16px;
$border-radius: 6px;
$page-width : 25*$base-unit;

$sans-font: -apple-system, BlinkMacSystemFont, 'Inter', 'Helvetica Neue', sans-serif;

* {
    box-sizing: border-box;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: #ffffff;
    color: #888888;
    font-family: $sans-font;
    font-size: $base-font-size;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000;
    font-weight: 400;
}

h1 + p {
    margin-top: $base-unit;
}

.cover-image {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: $page-width+2*$base-unit;
    min-height: 100%;
    padding: 0 1*$base-unit;
}

.pic-and-bio {
    display: grid;
    gap: $base-unit;
    grid-template-columns: repeat(3, 1fr) 5*$base-unit;
    margin: $base-unit 0;
}

.pic {
    border-radius: $border-radius;
    overflow: hidden;
}

.bio {
    grid-column: span 3;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #000000;
    }

    h1 {
        color: #ffffff
    }
}