---
---

$base-unit : 21px;
$base-font-size : 14px;
$border-radius: 8px;
$page-width : 30*$base-unit;
$page-width : (3*$base-unit*10)+(2*$base-unit);

$sans-font : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$mono-font : Menlo, monospace;

$link-color : #000000;
$link-color-dark-mode : #f0f0f0;

$body-color : #000000;
$body-color-dark-mode : #f0f0f0;

$gray-color : #808080;
$gray-color-dark-mode : #606060;

$gray-line-color : #e7e7e7;
$gray-line-color-dark-mode : #303030;

$background-color : #ffffff;
$background-color-dark-mode : #000000;

$article-bg-color : #f0f0f0;
$article-bg-color-dark-mode : #171717;


* {
    box-sizing: border-box;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: $background-color;
    color: $body-color;
    font-family: $sans-font;
    font-size: $base-font-size;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-weight: inherit;
}

p {
    margin: 1.5em 0;
}

ul {
    list-style-type: none;
    margin: 1.5em 0;
    padding: 0 0 0 1.5em;

    li {
        display: flex;
        position: relative;
    }

    li::before {
        content: '—\00A0';
        display: block;
    }
}

ol {
    margin: 1.5em 0;
    padding: 0 0 0 3em;
}

a {
    color: $link-color;
    text-decoration: none;
}

pre {
    overflow-x: scroll;
}

code {
    font-family: $mono-font;
    font-size: 12px;
}

hr {
    border: none;
}

hr::after {
    content: "";
    display: block;
    height: 0px;
    padding: 0;
}

img {
    display: block;
    height: auto;
    width: 100%;
}

svg {
    display: block;
    stroke: $body-color;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    margin: auto;
    max-width: $page-width+8*$base-unit;
    padding: 0 4*$base-unit;
}

.header {
    display: grid;
    gap: $base-unit;
    grid-template-columns: repeat(3, 1fr);
    margin: 1*$base-unit 0 6*$base-unit;
}

.pic {
    border-radius: $border-radius;
    border-radius: 120px;
    overflow: hidden;
    max-width: 10*$base-unit;
}

.text {
    grid-column: span 2;
}

.contact {
    //display: table;
    margin: $base-unit 0 0;
    padding: 0;
}

.contact-row {
    align-items: center;
    display: flex;

    span {
        //display: table-cell;
    }
}

.contact-row::before {
    content: "";
    display: none;
}

.contact-row + .contact-row {
    margin: .5*$base-unit 0 0;

    span {
        //padding-top: .5*$base-unit;
    }
}

.contact-label {
    color: $gray-color;
    padding: 0 .75*$base-unit 0 0;

    img {
        height: 14px;
        width: 14px;
        margin: 2px 0 0;
    }
}

.timeline {
    margin: 4*$base-unit 0;
}

.day {
    border-top: 1px solid $gray-line-color;
    display: grid;
    gap: $base-unit;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 0 3em;
}

.day + .day {
    margin-top: 1.5em;
}

.day:last-of-type {
    margin: 0;
}

.day-label {
    align-self: start;
    background-color: $background-color;
    color: $gray-color;
    font-weight: inherit;
    margin: 0;
    position: sticky;
    top: 0;
    padding: 1.5em 0;
    z-index: +9;
}

.posts {
    grid-column: span 3;
}

.article {
    background-color: $article-bg-color;
    border-radius: $border-radius;
    display: block;
    margin: 1.5em 0;
    padding: 3em;
    width: 100%;
}

.article:last-of-type {
    margin-bottom: 0;
}

.article-head {
    display: flex;
}

.article-title {
    flex-grow: 1;
    margin: 0 $base-unit 0 0;
}

.date {
    color: $gray-color;
}

.article-body {

    h1, h2, h3, h4, h5, h6 {
        font-style: oblique;
        margin: 3em 0 1.5em;
    }

    a {
        color: inherit;
        border-bottom: 1px solid $link-color;
    }

    a:hover {
        color: $link-color;
    }

    p:last-of-type::after {
        content: '\00A0\2022';
    }

    *:last-of-type {
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .day {
        display: block;
    }

    .article:first-of-type {
        margin-top: 0;
    }
}

@media (max-width: 600px) {
    .header {
        //margin-top: $base-unit;
    }

    .page {
        padding: 0 $base-unit !important;
    }

    .timeline {
        margin-bottom: $base-unit;
    }

    .article {
        padding: 1.5em;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: $background-color-dark-mode;
        color: $body-color-dark-mode;
    }

    a {
        color: $link-color-dark-mode
    }

    .contact-label svg {
        fill: $body-color-dark-mode;
    }

    .day {
        border-top: 1px solid $gray-line-color-dark-mode;
    }

    .day-label {
        background-color: $background-color-dark-mode;
    }

    .article {
        background-color: $article-bg-color-dark-mode;
    }

    .article-body a {
        border-bottom: 1px solid $link-color-dark-mode;
    }

    .article-body a:hover {
        color: $link-color-dark-mode;
    }

    .contact-label,
    .day-label,
    .article-title span {
        color: $gray-color-dark-mode;
    }
}