---
title: Wesley De Witt
description: I am a developer and designer from Indiana. My career is oriented around a dedication to the process of making beautiful, intuitive websites and applications.
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ page.description }}">

        <title>{{ page.title }}</title>

        <link rel="stylesheet" href="css/styles.css">
        <link rel="icon" type="image/x-icon" href="images/favicon.png">
    </head>

    <body>
        <div class="page">
            <header class="header">
                <div class="text">
                    <h1 class="title">Wesley De Witt</h1>
                    
                    <p class="description">{% include about.md %}</p>
                    
                    <ul class="contact">
                        <li class="contact-row">
                            <span class="contact-label">
                                <picture>
                                    <source srcset="images/email@darkmode.svg" media="(prefers-color-scheme: dark)">
                                    <img width="14" height="10" src="images/email.svg" alt="Email" />
                                </picture>
                            </span>
                            <span><a href="mailto:wesley.brian.dewitt@gmail.com">wesley.brian.dewitt@gmail.com</a></span>
                        </li>

                        <li class="contact-row">
                            <span class="contact-label">
                                <picture>
                                    <source srcset="images/github@darkmode.svg" media="(prefers-color-scheme: dark)">
                                    <img width="14" height="14" src="images/github.svg" alt=GitHub" />
                                </picture>
                            </span>
                            <span><a href="https://github.com/wesleydewitt">wesleydewitt</a></span>
                        </li>
                        
                        <li class="contact-row">
                            <span class="contact-label">
                                <picture>
                                    <source srcset="images/x@darkmode.svg" media="(prefers-color-scheme: dark)">
                                    <img width="14" height="14" src="images/x.svg" alt="X.com" />
                                </picture>
                            </span>
                            <span><a href="https://www.x.com/@wesleydewitt">@wesleydewitt</a></span>
                        </li>
                    </ul>
                </div>

                <picture>
                    <source srcset="images/pic@2x@darkmode.jpg" media="(min-resolution: 2dppx) and (prefers-color-scheme: dark)">
                    <source srcset="images/pic@2x.jpg" media="(min-resolution: 2dppx)">
                    <source srcset="images/pic@darkmode.jpg" media="(prefers-color-scheme: dark)">
                    <img class="pic" width="240" height="240" src="images/pic.jpg" alt="Software developer Wesley De Witt" />
                </picture>
            </header>

            {% if site.posts.size > 0 %}
                <div class="timeline">
                    {% for post in site.posts limit:10 %}
                        {% assign currentdate = post.date | date: "%-d %B %Y" %}
                        
                        {% if currentdate != date %}
                            {% unless forloop.first %}</div></div>{% endunless %}

                            <div class="day">
                                <h2 class="day-label">{{ post.date | date: "%A" }}<br>{{ currentdate }}</h2>
                                <div class="posts">

                            {% assign date = currentdate %}
                        {% endif %}

                                    <article class="article">
                                        <div class="article-head">

                                            {% if post.title %}
                                                <h3 class="article-title">{{ post.title }}</h3>
                                            {% endif %}

                                            <div class="date">{{ post.date | date: "%-I:%M %p" }}</div>
                                        </div>

                                        <div class="article-body">
                                            {{ post.content }}
                                        </div>
                                    </article>

                        {% if forloop.last %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </body>
</html>