<footer class='footer'>
    <div>
        <div class='footer__top'>
            <div>
                <h1>Projects</h1>
                <ul>
                    <li><a href='/'>Code</a></li>
                    <li><a href='/'>Travel</a></li>
                    <li><a href='/'>Writing</a></li>
                    <li><a href='/'>Photography</a></li>
                    <li><a href='/'>Video</a></li>
                </ul>
            </div>
            <div>
                <h1>Essays</h1>
                <ul>
                    <li><a href='/'>Code</a></li>
                    <li><a href='/'>Travel</a></li>
                    <li><a href='/'>Writing</a></li>
                    <li><a href='/'>Photography</a></li>
                    <li><a href='/'>Video</a></li>
                </ul>
            </div>
            <div>
                <h1>Videos</h1>
                <ul>
                    <li><a href='/'>Code</a></li>
                    <li><a href='/'>Travel</a></li>
                    <li><a href='/'>Writing</a></li>
                    <li><a href='/'>Photography</a></li>
                    <li><a href='/'>Video</a></li>
                </ul>
            </div>
        </div>
        <div class='footer__bottom'>
            <p>Copyright &copy; 2023 Wesley De Witt. All rights reserved.</p>
        </div>
    </div>
</footer>