<header class='header'>
    <div class='header__content'>
        <!-- <div class='header__logo'>
            <svg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'>
                <circle cx='6' cy='6' r='6' fill='#FF6B00'/>
            </svg>
        </div> -->

        <div class='header__site-title' id='header__site-title'>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 4.5H13C14.3807 4.5 15.5 5.61929 15.5 7V13C15.5 14.3807 14.3807 15.5 13 15.5H7C5.61929 15.5 4.5 14.3807 4.5 13V7C4.5 5.61929 5.61929 4.5 7 4.5Z"/>
                <path d="M3 0.5H9C10.3807 0.5 11.5 1.61929 11.5 3V9C11.5 10.3807 10.3807 11.5 9 11.5H3C1.61929 11.5 0.5 10.3807 0.5 9V3C0.5 1.61929 1.61929 0.5 3 0.5Z"/>
                <rect x="7.5" y="7.5" width="1" height="1" rx="0.5"/>
            </svg>                                                                                                                                                                                                       
            <h1><a href='/'>Wesley De Witt</a></h1>
        </div>
        
        <nav class='header__nav' id='header__nav'>
            <ul>
                <li><a class="nav-hover-item" href='/'>Projects <span>8</span></a>

                    <div class='menu menu__projects hide'>
                        <div class='menu__content'>
                            <h2>Projects</h2>
                        </div>
                    </div>
                </li>

                <li><a class="nav-hover-item" href='/'>Writing <span>11</span></a>

                    <div class='menu menu__writing hide'>
                        <div class='menu__content'>
                            <h2>Writing</h2>
                        </div>
                    </div>
                </li>

                <li><a class="nav-hover-item" href='/'>Videos <span>5</span></a>

                    <div class='menu menu__videos hide'>
                        <div class='menu__content'>
                            <h1>Videos</h1>
                        </div>
                    </div>
                </li>

                <!-- <li><a class="nav-hover-item" href='/'>Journal <span>17</span></a>

                    <div class='menu menu__journal hide'>
                        <div class='menu__content'>
                            <h1>Journal</h1>
                        </div>
                    </div>
                </li> -->

                <!-- <li><a class="nav-hover-item" href='/'>Locations <span>32</span></a>

                    <div class='menu menu__locations hide'>
                        <div class='menu__content'>
                            <h1>Locations</h1>
                        </div>
                    </div>
                </li> -->

                 <!--<li><a class="nav-item" href='/'>YouTube &nearr;</a></li>-->
                <!-- <li><a class="nav-item" href='/'>Archive</a></li>-->
                <!-- <li><a class="nav-item" href='/'>Contact</a></li>-->
                <!-- <li><a class="nav-item" href='/'>Shop</a></li>-->
            </ul>
        </nav>
        
        <div class='header__button-tray' id='header__button-tray'>
            <!-- <button class='header__button'>
                <svg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'>
                    <rect x='0.5' y='3.5' width='11' height='8' rx='1.5'  stroke-linejoin='round'/>
                    <path d='M8 3.5H8.5V3V2C8.5 1.17157 7.82843 0.5 7 0.5H5C4.17157 0.5 3.5 1.17157 3.5 2V3V3.5H4H8Z' />
                </svg>                                
            </button> -->

            
            
            <button class='header__search' id='header__search'>
                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="4" cy="4" r="3.5"  stroke-linecap="round"/>
                    <path d="M9.5 9.49999C7.11718 7.11718 6.37486 6.37486 6.51669 6.51669"  stroke-linecap="square"/>
                    </svg> <span class='header__search__label'>Search <span>&#8984;K</span></span>
            </button>

            <!-- <button class='header__button'>
                <svg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'>
                    <circle cx='6' cy='6' r='2.5' />
                    <line x1='6' y1='2' x2='6' />
                    <line x1='6' y1='12' x2='6' y2='10' />
                    <line x1='10' y1='6' x2='12' y2='6' />
                    <line y1='6' x2='2' y2='6' />
                    <line x1='1.85355' y1='1.89645' x2='3.26777' y2='3.31066' />
                    <line x1='8.89645' y1='3.14645' x2='10.3107' y2='1.73223' />
                    <line x1='1.74645' y1='10.1964' x2='3.16066' y2='8.78222' />
                    <line x1='8.85355' y1='8.89645' x2='10.2678' y2='10.3107' />
                </svg>
            </button> -->
            
            <!-- <button class='header__button' id='menu__button' style='margin-top: -2px;'>
                <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line y1="0.5" x2="12" y2="0.5" />
                    <line y1="4.5" x2="12" y2="4.5" />
                    <line y1="8.5" x2="12" y2="8.5" />
                </svg>
            </button> -->

            <div class='menu menu__nav hide' id='nav-menu'>
                <div class='menu__content'>
                    <a href='/'>Home</a>
                    <a href='/'>Code</a>
                    <a href='/'>Writing</a>
                    <a href='/'>Travel</a>
                    <a href='/'>Video</a>
                    <a href='/'>Photos</a>
                    <a href='/'>About</a>
                    <a href='/'>Contact</a>
                    <a href='/'>Shop</a>
                </div>
            </div>

            <div class='menu menu__search hide'>
                <div class='menu__content'>
                    <h1>Search</h1>
                </div>
            </div>
        </div>
        
    </div>
</header>
