<div class='index'>
    <div class='index-grid'>
        <div class='index-item index-item--double' href='/'>
            <div class="index-item__meta">Follow & Subscribe</div>
            <div class='index-item-content'>
                <h1>Coder, writer and traveller</h1>
                <h2>Esse consequat ipsum nisi eu tempor aliquip incididunt</h2>
            </div>
        </div>
        
        <a class='index-item index-item--half' href='/'>
            <img class="cover-image" src="assets/images/36.jpg" />
            <div class="index-item__meta">Video</div>
            <div class='index-item-content'>


            </div>
        </a>

        <a class='index-item index-item--half' href='/'>
            <img class="cover-image" src="assets/images/42.jpg" />
            <div class="index-item__meta">Essay</div>
            <div class='index-item-content'>

                <!-- <h2>Esse consequat ipsum nisi eu tempor aliquip incididunt</h2> -->
            </div>
        </a>

        <a class='index-item index-item--half' href='/'>
            <img class="cover-image" src="assets/images/36.jpg" />
            <div class="index-item__meta">Video</div>
            <div class='index-item-content'>


            </div>
        </a>

        <a class='index-item index-item--half' href='/'>
            <img class="cover-image" src="assets/images/42.jpg" />
            <div class="index-item__meta">Essay</div>
            <div class='index-item-content'>

                <!-- <h2>Esse consequat ipsum nisi eu tempor aliquip incididunt</h2> -->
            </div>
        </a>

        <a class='index-item index-item--half' href='/'>
            <img class="cover-image" src="assets/images/36.jpg" />
            <div class="index-item__meta">Video</div>
            <div class='index-item-content'>


            </div>
        </a>

        <a class='index-item index-item--half' href='/'>
            <img class="cover-image" src="assets/images/42.jpg" />
            <div class="index-item__meta">Essay</div>
            <div class='index-item-content'>

                <!-- <h2>Esse consequat ipsum nisi eu tempor aliquip incididunt</h2> -->
            </div>
        </a>

        <a class='index-item index-item--half' href='/'>
            <img class="cover-image" src="assets/images/36.jpg" />
            <div class="index-item__meta">Video</div>
            <div class='index-item-content'>


            </div>
        </a>

        <a class='index-item index-item--half' href='/'>
            <img class="cover-image" src="assets/images/42.jpg" />
            <div class="index-item__meta">Essay</div>
            <div class='index-item-content'>

                <!-- <h2>Esse consequat ipsum nisi eu tempor aliquip incididunt</h2> -->
            </div>
        </a>

        <a class='index-item' href='/'>
            <img class="cover-image" src="assets/images/50.jpg" />
            <div class="index-item__meta">Project</div>
            <div class='index-item-content'>
                <h1>Salt Lake City</h1>
                <h2>Esse consequat ipsum nisi eu tempor aliquip incididunt</h2>
            </div>
        </a>

        <div class='index-item index-item--double timeline' href='/'>
            <div class="index-item__meta">Timeline</div>
            <div class='index-item-content'>
                <div class="timeline-table">
                    <div class="day">
                        <h3>Sun,&nbsp;17&nbsp;Dec&nbsp;'23</h3>
                        <ul>
                            <li><a href="/">Tweet: Nulla velit ullamco aliqua sint qui cupidatat aliqua est</a></li>
                            <li><a href="/">Podcast Appearance</a></li>
                            <li><a href="/">Newsletter</a></li>
                            <li><a href="/">Video</a></li>
                        </ul>
                    </div>
                    <div class="day">
                        <h3>Sat,&nbsp;16&nbsp;Dec&nbsp;'23</h3>
                        <ul>
                            <li><a href="/">Tweet</a></li>
                            <li><a href="/">Tweet</a></li>
                            <li><a href="/">Journal Entry</a></li>
                        </ul>
                    </div>
                    <div class="day">
                        <h3>Thurs,&nbsp;14&nbsp;Dec&nbsp;'23</h3>
                        <ul>
                            <li><a href="/">Tweet</a></li>
                            <li><a href="/">Project</a></li>
                            <li><a href="/">Journal Entry</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <a class='index-item' href='/'>
            <img class="cover-image" src="assets/images/9.jpg" />
            <div class="index-item__meta">Project</div>
            <div class='index-item-content'>
                <h1>Gulf Shores</h1>
                <!-- <h2>Esse consequat ipsum nisi eu tempor aliquip incididunt</h2> -->
            </div>
        </a>

        <div class='index-item index-item--double' href='/'>
            <div class="index-item__meta">Journal</div>
            <div class='index-item-content'>

            </div>
        </div>

        <a class='index-item' href='/'>
            <img class="cover-image" src="assets/images/43.jpg" />
            <div class="index-item__meta">Video</div>
            <div class='index-item-content'>
                <h1>index Item Title</h1>
                <h2>Esse consequat ipsum nisi eu tempor aliquip incididunt</h2>
            </div>
        </a>

        <a class='index-item' href='/'>
            <div class="index-item__meta">Essay</div>
            <img class="cover-image" src="assets/images/18.jpg" />
            <div class='index-item-content'>
                <h1>index Item Title</h1>
                <h2>Esse consequat ipsum nisi eu tempor aliquip incididunt</h2>
            </div>
        </a>

        <a class='index-item' href='/'>
            <img class="cover-image" src="assets/images/4.jpg" />
            <div class="index-item__meta">Video</div>
            <div class='index-item-content'>
                <h1>index Item Title</h1>
                <h2>Esse consequat ipsum nisi eu tempor aliquip incididunt</h2>
            </div>
        </a>

        <div class='index-item index-item--double' href='/'>
            <div class="index-item__meta">Locations</div>
            <div class='index-item-content'>

            </div>
        </div>

        <a class='index-item' href='/'>
            <div class="index-item__meta">Essay</div>
            <img class="cover-image" src="assets/images/32.jpg" />
            <div class='index-item-content'>
                <h1>index Item Title</h1>
                <h2>Esse consequat ipsum nisi eu tempor aliquip incididunt</h2>
            </div>
        </a>

        <div class='index-item index-item--double' href='/'>
            <div class="index-item__meta">Archive</div>
            <div class='index-item-content'>

            </div>
        </div>

        <a class='index-item' href='/'>
            <img class="cover-image" src="assets/images/46.jpg" />
            <div class="index-item__meta">Video</div>
            <div class='index-item-content'>
                <h1>index Item Title</h1>
                <h2>Esse consequat ipsum nisi eu tempor aliquip incididunt</h2>
            </div>
        </a>

        <a class='index-item' href='/'>
            <div class="index-item__meta">Essay</div>
            <img class="cover-image" src="assets/images/53.jpg" />
            <div class='index-item-content'>
                <h1>index Item Title</h1>
                <h2>Esse consequat ipsum nisi eu tempor aliquip incididunt</h2>
            </div>
        </a>

        <a class='index-item' href='/'>
            <img class="cover-image" src="assets/images/7.jpg" />
            <div class="index-item__meta">Video</div>
            <div class='index-item-content'>
                <h1>index Item Title</h1>
                <h2>Esse consequat ipsum nisi eu tempor aliquip incididunt</h2>
            </div>
        </a>

        <div class='index-item index-item--double' href='/'>
            <div class="index-item__meta">About</div>
            <div class='index-item-content'>

            </div>
        </div>

        <a class='index-item' href='/'>
            <div class="index-item__meta">Essay</div>
            <img class="cover-image" src="assets/images/51.jpg" />
            <div class='index-item-content'>
                <h1>index Item Title</h1>
                <h2>Esse consequat ipsum nisi eu tempor aliquip incididunt</h2>
            </div>
        </a>
    </div>
</div>