<div class='projects'>

    <div class='projects__grid'>
        <a class='projects__grid__item'>
            <div class='projects__grid__item__text'>
                <h3>Project</h3>
                <div>Duis esse aute minim ex fugiat do consequat duis nisi incididunt exercitation ipsum.</div>
            </div>
        </a>
        <a class='projects__grid__item'>
            <div class='projects__grid__item__text'>
                <h3>Project</h3>
                <div>Duis esse aute minim ex fugiat do consequat duis nisi incididunt exercitation ipsum.</div>
            </div>
        </a>
        <a class='projects__grid__item'>
            <div class='projects__grid__item__text'>
                <h3>Project</h3>
                <div>Duis esse aute minim ex fugiat do consequat duis nisi incididunt exercitation ipsum.</div>
            </div>
        </a>
    </div>
</div>